.app {
  width: 100%;
  .parent_container {
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 85vh; /* Adjust to your needs */
      overflow: auto;
      padding: 10px;
      width: 100%;
      .title {
        font-size: clamp(28px, 7vw, 40px);
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }
}

.gray {
  color: #95a5a6
}
.green {
  color: #27ae60
}
.lightGreen {
  color: #90EE90
}
.red {
  color: #e74c3c
}
.lightRed {
  color: #FF7F7F
}
.blue {
  color: #2980b9
}
.violet {
  color: #9b59b6
}