.desc {
  max-width: 200px;
}
.color1 {
  color: #95a5a6
}
.color2 {
  color: #90EE90
}
.color3 {
  color: #27ae60
}
.color4 {
  color: #FF7F7F
}
.color5 {
  color: #e74c3c
}
.color6 {
  color: #2980b9
}
.color7 {
  color: #9b59b6
}